h1{
    background-color: cyan;
    color:crimson ;
    font-size: 20px;

}
p{
    color: crimson;
    background-color: cyan;
    font-size: 20px;
}
h2{
    background-color: cyan;
    color: crimson;
    font-size: 20px;
    
}
p{
    color: cyan;
    font-size: 20px;
    background-color: ;
    
}